<?xml version="1.0" encoding="UTF-8"?>



<suite name="Suite">

<listeners>
<listener class-name="listneres.ExtentListener"></listener>
</listeners>

  <test thread-count="5" name="Test">
  
    <classes>
      <class name="com.PS.TestCases.TC_MainMaster_Brand"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->  
